@using LaTuaPizza.Models

@{
    ViewData["Title"] = "Index";
}

@{
    var Menu = (List<Menu>)ViewBag.Menu;
}
<h1>Menu</h1>
<div id="content">Hello, @ViewBag.email</div>
<div id="count" hidden>@Menu.Count</div>
<div id="cards">
    @foreach (var item in Menu)
    {
        <div class="card" style="width: 18rem; height:27rem;">
            <img class="card-img-top" src="~/images/Margherita.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.MenuName)
                    <span style="float:right;">
                        @Html.DisplayFor(modelItem => item.Price) $
                    </span>
                </h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.MenuDesc)</p>

                <div class="input-group mb-3">
                    <label>Choose quantity : </label>
                    <select id="@Html.DisplayFor(modelItem => item.MenuId)" name="quantity" style="margin-bottom: 5px; margin-left:5px;">
                        <option value="" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="cart_buttons">
                    <div class="add_to_cart" id="addtocart_@Html.DisplayFor(modelItem => item.MenuId)" style="position: absolute;top: 90%;left: 40%;">
                        <button class="btn btn-primary add" id="add_@Html.DisplayFor(modelItem => item.MenuId)" type="button">Add</button>
                    </div>
                    <div class="remove_from_cart" id="removeFromcart_@Html.DisplayFor(modelItem => item.MenuId)" style="position: absolute;top: 90%;left: 35%;" hidden>
                        <button class="btn btn-danger remove" id="remove_@Html.DisplayFor(modelItem => item.MenuId)" type="button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div style="margin:50px; text-align:center;">
    <button class="btn btn-primary" id="checkout" type="submit" style="width:20%;">(<span id="cart-total">0</span>)<i class="fa fa-cart-plus"></i>   Proceed to checkout</button>
</div>
<script>

    var cart = [];
    var cartQuantity = 0;
    var count = @Menu.Count;
    var menuQuantities = document.getElementsByName("quantity");
    var addToCartButtons = document.getElementsByClassName('add');
    var removeCartButtons = document.getElementsByClassName('remove');

    for (var i = 0; i < count; i++) {
        var addCartButton = addToCartButtons[i];
        var removeCartButton = removeCartButtons[i];
        var selectedQuantity = menuQuantities[i];

        addCartButton.addEventListener('click', function (e) {
            var select = $(this).parent().parent().siblings('.input-group').children('select')
            var quantity = select.val();
            var menu_id = select.attr('id');
            if (quantity > 0) {
                select.attr("disabled", true);
                $(this).parent().siblings().removeAttr('hidden');
                $(this).parent().attr('hidden', true);
                cartQuantity += 1;
                $("#cart-total").text(cartQuantity);
                updateCart(menu_id, quantity,'add');
            } else {
                alert("Quantity not selected!");
            }
        });
        //[{1:"2"},{2:"4"}]
        removeCartButton.addEventListener('click', function (e) {
            var select = $(this).parent().parent().siblings('.input-group').children('select');
            var quantity = select.val();
            var menu_id = select.attr('id');
            select.removeAttr('disabled');
            $(this).parent().attr('hidden',true);
            $(this).parent().siblings().removeAttr('hidden');
            cartQuantity -= 1;
            updateCart(menu_id, quantity, 'remove');
            $("#cart-total").text(cartQuantity);
        });
    }



    $("#checkout").on("click", function (e) {
        //create a json with menuid, qty and send ajax post request

        $.ajax({
            url: '/Menus/ProcessCart',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            traditional: true,
            data: JSON.stringify(cart),
            success: function (result) {
                window.location.href = result.redirectToUrl;
            },
            error: function (result) {
                window.location.href = result.redirectToUrl;
            }
        });      
    });

    function updateCart(menu_id, quantity,type) {
        //store all non-zero quantites of each menu id.
        var cartItem = {};
        if (type == "add") {
            cartItem[menu_id] = quantity;
            cart.push(cartItem); 
        } else {
            cart.forEach(item => {
                for (let id in item)
                    if (id == menu_id) {
                        cart.splice(cart.indexOf(id), 1);
                    }
            }); 
        }       
    }

</script>
